h1 {
  color: blue;
}
.selected {
  color: #22bdf0;
  transition: all .3s linear;
  transform: rotate(360deg) scale(.9) translateX(50%) translateY(300px);
}
.selected h3 {
  transition: all .8s linear;
  transform: rotate(360deg) scale(.9) translateX(30%) translateY(300px);
}
